@charset "UTF-8";
*, *:before, *:after {box-sizing: border-box;}
:root {
  --textcolor:black;
  /* --accentcolor:#269; */
  --lightaccentcolor:#9df;
  --reversecolor:white;
}
html {
  font-size: 16px;
  font-family: Trebuchet,sans-serif;
}
body {
  background: var(--accentcolor);
  color: var(--reversecolor);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
strong, b {font-weight: bold;}
#wrapper {
  margin: 0 auto;
  padding: 1.2rem;
  width: 100%;
  height: auto;
  min-width: 320px;
  max-width: 960px;
  background: var(--reversecolor);
  color: var(--textcolor);
  text-align: left;
  border:2px solid var(--accentcolor);
  border-radius:0 0 16px 16px;
  box-shadow:4px 4px 16px #333;
}
h1 {
  color: var(--accentcolor);
  font-size: 3rem; 
  margin: 0;
}
p {
  display:block;
  font-size: 1rem; 
  margin: 1rem 0 1rem 0;
}
a:link, a:visited {color: var(--accentcolor);}
a:hover {text-decoration: none;}

#numFld {
  font-size: 1.2rem;
  width: 4rem;
  text-align: right;
  padding: 0;
  margin: 0 0 0 4px;
}
#txtFld {
  width: 100%;
  height: 4.4rem;
  font-size: 1.6rem;
  font-family: inherit;
}
button {
  -webkit-appearance: none;
  font-size: 1.4rem;
  font-weight: normal;
  background: var(--lightaccentcolor);
  border-radius: 12px;
  border: 2px solid var(--accentcolor);
  color: var(--textcolor);
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  cursor: pointer;
  margin: 10px 20px 10px 20px;
}