.container_Wrapper {
  height: 100vh;
  width: 100%;
  margin-top: -50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-body {
  padding: 3%;
  box-shadow: 0 0 1px 1px;
  background-color: rgb(73, 105, 116);
  float: left;
  height: 600px;
  margin : 110px 0px 0px 40px;
}

.headingWrapper{
  text-align: center;
  padding-top: 20px;
  border-bottom: solid 2px black;
  width: 400px;
  font-family:monospace;
  margin-bottom: 20px;
}

.image {
  display: flex;
  width: 40%;
  height: 600px;
  border-radius: 0px;
}
 
@media screen and (max-width: 767px)  {
  .image{
    display: none;
  }
}

.image img{
  max-width: 100%;
  margin: 110px 0 0 0;
  background: white;
  height: 600px;
}
.loginBtn {
  width: 200px;
  box-shadow: 0 0 1px 1px;
  margin: 0 0px 5px 0;
  border-radius: 0px;
}

.input-group-text {
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}