.container_Wrapper {
  height: 100vh;
  width: 100%;
  margin-top: -50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-body {
  width: 35%;
  padding: 2%;
  box-shadow: 0 0 1px 1px;
  background-color: rgb(73, 105, 116);
  float: left;
  height: 600px;
  margin: 110px 0px 0px 192px;
}

.headingWrapper{
  text-align: center;
  padding-top: 20px;
  border-bottom: solid 2px black;
  width: 400px;
  font-family:monospace;
  margin-bottom: 20px;
}

.image {
  width: 35%;
  float: right;
  background-color: white;
  height: 600px;
  margin: 110px 196px 0px 0px;
  border-radius: 0px;
}

.image img{
  margin-top: 80px;
}
.loginBtn {
  width: 200px;
  box-shadow: 0 0 1px 1px;
  margin: 0 0px 5px 0;
  border-radius: 0px;
}